{{ if eq .Site.Params.asciiArt 1 }}
<pre>
  __..--''``---....___   _..._    __
  /// //_.-'    .-/";  `        ``<._  ``.''_ `. / // /
 ///_.-' _..--.'_    \                    `( ) ) // //
 / (_..-' // (< _     ;_..__               ; `' / ///
  / // // //  `-._,_)' // / ``--...____..-' /// / //
                            Ascii Art by: Felix Lee
</pre>
{{ end }}
{{ if eq .Site.Params.asciiArt 2 }}
<pre>
  |\      _,,,---,,_
  ZZZzz /,`.-'`'    -.  ;-;;,_
       |,4-  ) )-,_. ,\ (  `'-'
      '---''(_/--'  `-'\_)
      Ascii Art by: Felix Lee 
</pre>
{{ end }}